<!DOCTYPE html>
<html class="no-js" ng-app="my-app" ng-controller="MainController as mainCtrl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="mainCtrl.title()"></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the public directory -->
    <!-- build:css css/stylesheet.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/stylesheet.css">
    <!-- endbuild -->
    <script src="vendor/modernizr-2.6.2.min.js"></script>
  </head>
  <body>
    <!--[if lt IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="wrapper">
      <ng-view></ng-view>
    </div>

    <!-- build:js js/app.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <!-- endbower -->
    <% scripts.forEach(function(script) { %>
      <script type="text/javascript" src="<%= script %>"></script>
    <% }); %>
    <!-- endbuild -->
  </body>
</html>